body {
    color: #000000;
    font-family: "lato";
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
}

.center-container {
    width: 1115px;
    margin: 0px auto;
}

.header {
    padding: 23px 0px 31px;
}
.header-title {
    color: #005FA3;
    font-family: "Merriweather";
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
    
}

.header-contact-link {
    text-decoration: none;
}

.header-contact-text {
    color: #000000;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.header-nav-link {
    text-decoration: none;
    color: #222222;
    text-transform: uppercase;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.desc {
    padding: 170px 0;
    background-color: #191E22;
    background-image: url(../img/first_screen_bg.png);

}

.desc-title {
    margin: 0 0 131px;
    color:#ffffff;
    font-family: "Merriweather";
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
} 

.desc-link {
    color:#ffffff;
    background-color: #005FA3;
    font-family: Lato;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;

    width: 333px;
    min-height: 84px;
    display: block;
}

.desc-link {
    text-decoration: none;
}

.service {
    background-color: #EBEBEB;
    padding: 140px 0px;
}

.section-title {
    color: #BDBDBD;
    font-family: "Lato";
    font-size: 24px;
    font-weight: 900;
    line-height: 33px;
    margin-bottom: 40px;
}

.section-sub-title {
    color: #333333;
    font-family: "Merriweather";
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
    margin-bottom: 102px;
}

.about-us {
    padding: 140px 0px;
}

.about-us-styled-text {
    color: #005FA3;
}

.about-us-text {
    color: #000000;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

.about-us-item-elements {
    background-color: #EBEBEB;
}

.about-us-element-count {
    color:#000000;
    font-family: "Lato";
    font-size: 55px;
    font-weight: 900;
    line-height: 66px;
}
.about-us-element-title  {
    color:#000000;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.about-us-element-link {
    color: #005FA3;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.clients {
    background-color: #EBEBEB;
    padding: 85px 0px 92px;
}

.advantage {
    background-color: #EBEBEB;
}

.advantage-text {
    color: #000000;
    font-family: Lato;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.service-item-title {
    color: #FFFFFF;
}

.service-item-link {
    background-image: url(../img/our_services_bg.png);
    text-decoration: none;
    font-family: "Lato";
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
}

.reviews {
    padding: 174px 0 143px;
}

.reviews-button {
    background-color: #005FA3;
    color: #FFFFFF;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    border: none;
}

.reviews-items {
    background-color: #EBEBEB;
}

.reviews-items-text {
    color: #000000;
}

.reviews-items-name {
    color: #000000;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
}

.reviews-items-job {
    color: #4F4F4F;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.contacts {
    background-color: #090d0f;
    background-image: url(../img/contacts_bg.png);
}

.contacts-title {
    color: #FFFFFF;
    font-family: "Merriweather";
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
}

.contacts-text {
    color: #FFFFFF;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

.contacts-link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Lato";
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
}

.footer-information {
    color: #000000;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}